{% extends 'ClientBundle:Default:default.html.twig' %}
{% block title %}
    Clients
{% endblock %}

{% block controll %}
    <style>
        #PageControll {
            display: none;
        }
    </style>
    <br>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block content1 %}

    <h2>Клієнти</h2>
    {% for client in clients %}
       <div class="clientName">
            <a href="{{ path("client_show", { 'id': client.getId()}) }}">
                {{client.getDisplayName()}}</a>
       </div>
    {% endfor %}

{% endblock %}

 {% block footer1 %}
     <input  type="button" id="BtnAddClient" class="btnadd btn-sm btn-primary"
             onclick="window.location.href='{{path('client_add')}}';return false;"
             name="" value="Додати кліента">
 {% endblock %}
